<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Технологические зависимости!</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>
<body>
  <canvas id="snowCanvas"></canvas>
  <script src="static/script.js"></script>
  <!-- Добавляем шапку сайта -->
  <header class="header">
    <!-- Добавляем контейнер -->
    <div class="container">
      <!-- Добавляем внутреннюю обёртку для выравнивания логотипа и меню -->
      <div class="header__inner">
        <!-- Создаём логотип сайта -->
        <a class="logo" href="/">Logo</a>
        <!-- С помощью списка создаём навигационное меню -->
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" href="/price">Цены</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="/services">Услуги</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="/discounts">Скидки</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="/contacts">Контакты</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="/blog">Блог</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="/about_us">О нас</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container text-center my-5">
    <div class="bod">
      <div class="ser">
        <h1>Технологические зависимости - </h1>
        <p>Это такой вид зависимости, когда человек не может обойтись без использования определенных
          технологий и устройств.
          Эта зависимость может привести к тому, что человек потеряет способность функционировать без
          этих технологий совсем... Что может сказаться на уровне его жизни.</p>
      </div>
      <div class="ser2">
        <h2>Вот самые распространенные технологические зависимости:</h2>
      </div>
      <div class="ser3">
        <ul>
          <li>Социальные сети и мессенджеры: социальные сети уменьшают время, которое мы проводим в реальном мире. А еще привыкаем к постоянному обновлению новостей и сообщений.</li>
          <br />
          <li>Смартфоны и планшеты: смартфоны и планшеты могут стать привычным способом общения с миром, и люди могут стать зависимыми от постоянной проверки уведомлений! </li>
          <br />
          <li>Игры и онлайн-развлечения: игры и онлайн-развлечения могут стать зависимостью, особенно в случаях, когда люди проводят слишком много времени в виртуальном мире вместо реальной жизни.</li>
          <br />
          <li>Интернет-шопинг и онлайн-покупки: люди могут стать зависимыми от онлайн-шопинга, особенно если они используют его для удовлетворения эмоциональных потребностей.</li>
          <br />
          <li>Онлайн-видео и потоковые сервисы: слишком много времени на YouTube и Twitch - тоже зависимость, которая может привести к потере времени и уменьшению интереса к реальному миру.</li>
          <br />
          <li>Умные устройства для дома: люди могут стать зависимыми от использования умных устройств для дома (например, голосовые помощники), что может привести к уменьшению навыков коммуникации и потере способности принимать решения.</li>
          <br />
          <li>Технологии виртуальной и дополненной реальности: виртуальные очки могут привести к уменьшению интереса к реальному миру и потере навыков коммуникации, если проводить в виртуальном мире больше времени, чем в реальном.</li>
        </ul>
      </div>
      <div class="ser2">
        <h2>Как можно бороться с этими зависимостями?</h2>
      </div>
      <div class="ser3">
        <ul>
          <li>Установить лимиты на время, проведенное в Интернете и на использование устройств.</li>
          <br />
          <li>Разнообразить свои интересы и занятия, чтобы не ограничиваться только использованием технологий.</li>
          <br />
          <li>Искать новые способы общения с окружающим миром, в том числе с людьми, чтобы уменьшить зависимость от социальных сетей и мессенджеров.</li>
          <br />
          <li>Регулярные перерывы и отключение смартфона, чтобы не утомлять глаза и разум.</li>
          <br />
          <li>Планирование времени без использования технологий, чтобы расслабиться и отдохнуть.</li>
          <br />
          <li>Старайтесь быть более осознанными в отношении использования технологий, и задавайте себе вопросы, когда чувствуете, что становитесь слишком зависимыми.</li>
        </ul>
      </div>
      <div class="ser1">
        <p>Не бойтесь технологий, но не забывайте, что они должны быть инструментом для улучшения  жизни и работы, а не главной ее составляющей! ⭐️</p>
      </div>
    </div>
    <div class="im">
      <img src="https://imageio.forbes.com/specials-images/imageserve/431901445/0x0.jpg?format=jpg&amp;height=600&amp;width=1200&amp;fit=bounds" alt="Image 1">
    </div>
  </div>
  <footer class="footer">
    <a class="tex">© 2011-2024 Nik610, Inc. All rights reserved.</a>
    <a class="tex">Все права защищены.</a>
  </footer>
</body>
</html>
